#root {
  max-width: 480px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 0 1rem;
}

.game-wrapper {
  /* outline: 2px solid green; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.box::before {
  content: '';
  display: block;
  margin-top: 100%;
}

.box {
  /* outline: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.box>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin-bottom: -1rem;
  margin-top: 1rem;
}

.instructions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
  height: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
}

th {
  background-color: #1a1a1a;
  color: white;
}

@media (prefers-color-scheme: light) {
  th {
    background-color: #f1f1f1;
    color: black;
  }
}
